name: Check dist/

on:
  pull_request:
    branches:
      - main

permissions:
  contents: read

jobs:
  check-dist:
    name: Check dist/
    if: github.actor != 'dependabot[bot]'
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Setup Node.js
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: '25'
          cache: npm

      - name: Install Dependencies
        run: npm ci

      - name: Compile
        run: npm run compile

      - name: Compare dist/
        id: diff
        run: |
          if [ "$(git diff --ignore-space-at-eol --text dist/ | wc -l)" -gt "0" ]; then
            echo "Detected uncommitted dist/ changes after compile. See diff below:"
            git diff --ignore-space-at-eol --text dist/
            exit 1
          fi

      - name: Upload dist/ artifact on failure
        if: ${{ failure() && steps.diff.outcome == 'failure' }}
        uses: actions/upload-artifact@v4
        with:
          name: dist
          path: dist/
